-extends "base.haml"

-load static
-load compress

-load bootstrap3

-block content
    %link{:rel => "stylesheet", :type => "text/css", :href => "/static/css/train/stylesheet_train.css"}
    %script{:src => "/static/js/train/creation_scenario.js"}
    %form#whiteBox{:methode => "POST"}
                    -# , :action => "save_scenario"}
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        #parameters.blk
            %h1 Parametre
            %p Entrez les differents parametres pour l'exercice

            %label{:for => 'creator'} Créateur
            %input{:id => 'creator', :placeholder => 'Createur'}
            %br
            %label{:for => 'title'} Titre :
            %input{:id => 'title', :placeholder => 'Ex: Sequence 1'}
            %br
            %label{:for => 'skill'} Compétences :
            %input{:id => 'skill', :placeholder => 'Indiquez les compétences requises pour le scénario'}
            %br
            %label{:for => 'topic'} Sujet :
            %input{:id => 'topic', :placeholder => 'Indiquez le sujet du scénario'}
            %br
            %label{:for => 'grade_level'} Niveau :
            %input{:id => 'grade_level', :placeholder => "Indiquez le niveau d&rsquo;étude requis pour le scénario"}
            %br
            %label{:for => 'instructions'} Instructions :
            %input{:id => 'instructions', :placeholder => 'Expliquez votre question'}
            %br
            %label{:for => 'public'} Public :
            %input{:id => 'public', :type => 'checkbox'}

    #Tools.blk
        %br
        -# %input.btn.btn-primary#submit{:type => "submit"}
        {% buttons %}
            %button.btn.btn-primary#AddElement{data-target: "#personal_resource-form"}
                Ajouter un élément
            %ul.list-group
              -for resource in personal_resources
                %li.list-group-item
                  %h4.list-group-item-heading= resource.content.title
                    -if resource.content.author
                      par
                      %i
                        =resource.content.author
                    %small= resource.content.kind
                  %p.list-group-text
                    -if resource.content.comment
                      =resource.content.comment|safe
                  .row
                    -if resource.content.resources.link|cut:" "|length > 0 or  resource.content.resoures.file|cut:" "|length > 0
                      %div{class: "col-md-{% if resource.content.resources.link|cut:' '|length > 0 and resource.content.resoures.file|cut:' '|length > 0 %}6{% else %}12{% endif %}"}
                            %h5 Fichiers

                          .list-group

                            %a.list-group-item{href: "{{ MEDIA_URL }}{{ resource.content.resources.file }}"}
                              %span.badge= resource.content.resources.type
                              -if resource.content.resources.optionalName
                                =resource.content.resources.optionalName
                              -else
                               // =file.file.name|clean_file_name
                  -if resource.content.resources.link|cut:" "|length > 0
                    %div{class: "col-md-{% if resource.content.resources.file|cut:' '|length > 0 %}6{% else %}12{% endif %}"}
                          %h5 Liens
                          %a.list-group-item{href: "{{ resource.content.resources.link }}", target: "_blank"}
                            %span.badge= resource.content.resources.type
                            //=resource.content.resources.optionalName|default:resource.content.resoures.link

                  -if user.professor and resource.added_by == request.user
                    %a.btn.btn-danger.btn-sm.remove.delete{href: "{% url 'professor:remove_pedagogical_ressources' 'resource' resource.id %}"}
                      supprimer
            %br
            %button.btn.btn-primary#saveScenario{:onclick=> "sendForm()"}
                Save
        {% endbuttons %}
  :css
      .level2 {
        padding-left: 10px;
      }

      .level3 {
        padding-left: 20px;
      }

      .level4 {
        padding-left: 30px;
      }

      .dropdown-menu {
        float: none;
        max-width: 100%;
        width: 5000px;
      }
      .dropdown-submenu {
          position:relative;
      }
      .dropdown-submenu>.dropdown-menu {
          top:0;
          left:100%;
          margin-top:-6px;
          margin-left:-1px;
          -webkit-border-radius:0 6px 6px 6px;
          -moz-border-radius:0 6px 6px 6px;
          border-radius:0 6px 6px 6px;
      }
      .dropdown-submenu:hover>.dropdown-menu {
          display:block;
      }
      .dropdown-submenu>a:after {
          display:block;
          content:" ";
          float:right;
          width:0;
          height:0;
          border-color:transparent;
          border-style:solid;
          border-width:5px 0 5px 5px;
          border-left-color:#cccccc;
          margin-top:5px;
          margin-right:-10px;
      }
      .dropdown-submenu:hover>a:after {
          border-left-color:#ffffff;
      }
      .dropdown-submenu.pull-left {
          float:none;
      }
      .dropdown-submenu.pull-left>.dropdown-menu {
          left:-100%;
          margin-left:10px;
          -webkit-border-radius:6px 0 6px 6px;
          -moz-border-radius:6px 0 6px 6px;
          border-radius:6px 0 6px 6px;
      }
      .dropdown-menu > li > a {
        white-space: normal;
      }

      .remove-form {
        display: inline;
      }

      h3, h4 {
        margin-top: 0px;
      }

      .well hr {
        margin-top: 35px;
        margin-bottom: 35px;
      }

      .remove {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px;
        border-bottom-left-radius: 3px;
        padding: 2px 6px;
      }

      .khan-well {
        background-color: rgba(159, 182, 59, .4);
        border-color: rgba(159, 182, 59, .8);
      }

      .sesamath-well {
        background-color: rgba(229, 105, 10, .2);
        border-color: rgba(229, 105, 10, .6);

-block javascript
  -compress js
    %script{src: "{% static 'js/professor_update_pedagogical_resources.js' %}"}
  :javascript
    $(".show-form").click(function(event) {
      $(event.currentTarget).hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    $(".show-synthese-form").click(function(event) {
      $(event.currentTarget).hide();
      $(".synthese").hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    function selectionSesamathReference(ref_pk, title, url, kind) {
      $("#ref_pk_title_" + kind).val(title);
      $("#ref_pk_" + kind).val(ref_pk);
      $("#sesamath_verify_" + kind).removeClass("disabled");
      $("#sesamath_verify_" + kind).attr("href", url);

      var sesamath_pdf = $("#sesamath_pdf_" + kind);
      sesamath_pdf.find("object").attr("data", url);
      sesamath_pdf.find("iframe").attr("src", url);
      sesamath_pdf.find("a").attr("href", url);
      sesamath_pdf.show();
    }
    function selectKhanReference(ref_pk, title, url) {
      $("#khan_ref_pk_title").val(title);
      $("#khan_ref_pk").val(ref_pk);
      $("#khan_verify").removeClass("disabled");
      $("#khan_verify").attr("href", url);
    }
    $(".delete").click(function(event) {
      var yes = confirm("Êtes-vous sûr de vouloir supprimer cette ressource ?");
      if (yes != true) {
        event.preventDefault();
      }
    })
