-extends "base.haml"

-load static
-load compress

-load bootstrap3

-block content
    %link{:rel => "stylesheet", :type => "text/css", :href => "/static/css/train/stylesheet_train.css"}
    %script{:src => "/static/js/train/creation_scenario.js"}
    %form#whiteBox{:methode => "POST"}
                    -# , :action => "save_scenario"}
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        #parameters.blk
            %h1 Parametre
            %p Entrez les differents parametres pour l'exercice

            %label{:for => 'creator'} Créateur
            %input{:id => 'creator', :placeholder => 'Createur'}
            %br
            %label{:for => 'title'} Titre :
            %input{:id => 'title', :placeholder => 'Ex: Sequence 1'}
            %br
            %label{:for => 'skill'} Compétences :
            %input{:id => 'skill', :placeholder => 'Indiquez les compétences requises pour le scénario'}
            %br
            %label{:for => 'topic'} Sujet :
            %input{:id => 'topic', :placeholder => 'Indiquez le sujet du scénario'}
            %br
            %label{:for => 'grade_level'} Niveau :
            %input{:id => 'grade_level', :placeholder => "Indiquez le niveau d&rsquo;étude requis pour le scénario"}
            %br
            %label{:for => 'instructions'} Instructions :
            %input{:id => 'instructions', :placeholder => 'Expliquez votre question'}
            %br
            %label{:for => 'public'} Public :
            %input{:id => 'public', :type => 'checkbox'}
            %br



    -# #videoBlockElem{:style => "display: none"}
    -#     URL de votre vidéo :
    -#     video

    #videoBlockElem{:style => "display: none"}
        .panel-body
            %label{:for => 'title_video'} Titre:
            %input{:id => 'title_video', :placeholder => '(Optionnel)'}
            %br
            .form-group
                %iframe{:width => "420", :height => "315"}
                %br
                %label URL de votre vidéo (Youtube)
                %input{:id => 'vid_url', :type => "text"}
                %button.btn.btn-primary#addVid{:action => "#", :onclick => "return loadVideo(this)"} Ajouter
                -# #loadVid{:style => "display: none"}

    #mcqBlockElem{:style => "display: none"}
        Les QCMS ne sont pas encore fait, lol

    #textBlockElem{:style => "display: none"}
        .panel-body
            %label{:for => 'title_txt'} Texte:
            %br
            %textarea{:rows => "3", :placeholder => "Tapez votre texte"}

    #imgBlockElem{:style => "display: none"}
        .panel-body
            %label{:for => 'title_img'} Titre:
            %input{:id => 'title_img', :placeholder => 'Optionnel'}
            %button.btn.btn-danger.deleteElementImg{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l'élément",:action => "#", :onclick => "return removeImage(this)"}
                %span.glyphicon.glyphicon-remove
            %br
            .form-group
                %img{:width => "50%"}
                %br
                %label Image (Entrez ici l'url de l'image)
                %input{:id => 'img_url', :type => "text"}
                -# %a{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une image"}
                %img#addImg{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une image", :src => "/static/img/icons/add.png", :height => "5%", :width => "5%",:action => "#", :onclick => "return loadImage(this)"}
                -# #loadImage{:style => "display: none"}
            .form-group
                %label{:for => 'description_img'} Description:
                %input{:id => 'description_img', :placeholder => 'Optionnel'}

    #Tools.blk
        %br
        -# %input.btn.btn-primary#submit{:type => "submit"}
        {% buttons %}
            %button.btn.btn-primary#addElement
                Ajouter un element
            #addElementDiv{:style => "display: none"}
                %button.btn.btn-primary#addElementVideo
                    Ajouter vidéo
                %button.btn.btn-primary#addElementTxt
                    Ajouter un text
                %button.btn.btn-primary#addElementImg
                    Ajouter une image
                %button.btn.btn-primary#addElementMcq
                    Ajouter un QCM

            %br
            %button.btn.btn-primary#saveScenario{:onclick=> "sendForm()"}
                Save
        {% endbuttons %}
