-extends "base.haml"

-load static
-load compress

-load bootstrap3

-block content
    %link{:rel => "stylesheet", :type => "text/css", :href => "/static/css/train/stylesheet_train.css"}
    %script{:src => "/static/js/train/creation_scenario.js"}
    %form#whiteBox{:methode => "POST"}
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        #parameters.blk
            %h1 Parametre
            %p Entrez les differents parametres pour l'exercice

            %label{:for => 'creator'} Créateur
            %input{:id => 'creator', :placeholder => 'Createur'}
            %br
            %label{:for => 'title'} Titre :
            %input{:id => 'title', :placeholder => 'Ex: Sequence 1'}
            %br
            %label{:for => 'skill'} Compétences :
            %input{:id => 'skill', :placeholder => 'Indiquez les compétences requises pour le scénario'}
            %br
            %label{:for => 'topic'} Sujet :
            %input{:id => 'topic', :placeholder => 'Indiquez le sujet du scénario'}
            %br
            %label{:for => 'grade_level'} Niveau :
            %input{:id => 'grade_level', :placeholder => "Indiquez le niveau d&rsquo;étude requis pour le scénario"}
            %br
            %label{:for => 'instructions'} Instructions :
            %input{:id => 'instructions', :placeholder => 'Expliquez votre question'}
            %br
            %label{:for => 'public'} Public :
            %input{:id => 'public', :type => 'checkbox'}
            %br

    #videoBlockElem{:style => "display: none"}
        .panel-body
            %label{:for => 'title_video'} Titre:
            %input{:id => 'title_video', :placeholder => '(Optionnel)'}
            %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l'élément",:action => "#", :onclick => "return removeElem(this)"}
                %span.glyphicon.glyphicon-remove
            %br
            .form-group
                %iframe{:width => "420", :height => "315", :style => "display: none"}
                %br
                %label URL de votre vidéo (Youtube)
                %input{:id => 'vid_url', :type => "text"}
                %button.btn.btn-primary#addVid{:action => "#", :onclick => "return loadVideo(this)"} Ajouter
                -# #loadVid{:style => "display: none"}
            .form-group
                %label{:for => 'description_vid'} Description:
                %input.description{:id => 'description_vid', :placeholder => 'Optionnel'}

    #mcqBlockElem{:style => "display: none"}
        .panel-body
            %label{:for => 'title'} Titre:
            %input.titre_MCQ_Elem{:id => 'title', :placeholder => 'Title'}
            %br
            %label{:for => 'instruction'} Consigne:
            %input.instruction_MCQ_Elem{:id => 'instruction', :placeholder => 'Instruction'}
            %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l'élément",:action => "#", :onclick => "return removeElem(this)"}
                %span.glyphicon.glyphicon-remove
            %br
            %label{:for => 'question'} Question:
            %input.question_MCQ_Elem{:id => 'question', :placeholder => 'Question'}
            %br
            %div.list_answers
                %div.repLine
                    %label.labelanswer{:for => 'reponse'} Réponse 1:
                    %input.answer1{:id => 'reponse', :placeholder => 'Veuillez rentrer une réponse'}
                    %input.answer1_is_valid{:id => 'button', :type => "checkbox"}
                    %button.btn.btn-danger.removeReponse{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer la réponse",:action => "#", :onclick => "return removeReponse(this)", :style => "display : none"}
                                    %span.glyphicon.glyphicon-remove
                %br
                %div.repLine
                    %label{:for => 'reponse'} Réponse 2:
                    %input.answer2{:id => 'reponse', :placeholder => 'Veuillez rentrer une réponse'}
                    %input.answer2_is_valid{:id => 'button', :type => "checkbox"}
                    %button.btn.btn-danger.removeReponse{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer la réponse",:action => "#", :onclick => "return removeReponse(this)"}
                                    %span.glyphicon.glyphicon-remove
                %br
            %button.btn.btn-primary.addReponse{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une réponse",:action => "#", :onclick => "return addReponse(this)"}
                                                %span.glyphicon.glyphicon-plus
            %br

    #textBlockElem{:style => "display: none"}
        .panel-body
            %label{:for => 'title_txt'} Texte:
            %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l'élément",:action => "#", :onclick => "return removeElem(this)"}
                %span.glyphicon.glyphicon-remove
            %br
            %textarea{:rows => "3", :placeholder => "Tapez votre texte"}

    #imgBlockElem{:style => "display: none"}
        .panel-body
            %label{:for => 'title_img'} Titre:
            %input#title_img.title_img{:placeholder => 'Optionnel'}
            %button.btn.btn-danger.deleteElement{:toggle => "tooltip", :placement => "bottom", :title =>"Supprimer l'élément",:action => "#", :onclick => "return removeElem(this)"}
                %span.glyphicon.glyphicon-remove
            %br
            .form-group
                %img{:width => "50%"}
                %br
                %label Image (Entrez ici l'url de l'image)
                %input{:id => 'img_url', :type => "text"}
                -# %a{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une image"}
                %img#addImg{:toggle => "tooltip", :placement => "bottom", :title =>"Ajouter une image", :src => "/static/img/icons/add.png", :height => "5%", :width => "5%",:action => "#", :onclick => "return loadImage(this)"}
                -# #loadImage{:style => "display: none"}
            .form-group
                %label{:for => 'description_img'} Description:
                %input{:id => 'description_img', :placeholder => 'Optionnel'}

    #Tools.blk
        %br
        -# %input.btn.btn-primary#submit{:type => "submit"}
        {% buttons %}
            %button.btn.btn-primary#addElement
                Ajouter un element
            #addElementDiv{:style => "display: none"}
                %button.btn.btn-primary#addElementVideo
                    Ajouter vidéo
                %button.btn.btn-primary#addElementTxt
                    Ajouter un texte
                %button.btn.btn-primary#addElementImg
                    Ajouter une image
                %button.btn.btn-primary#addElementMcq
                    Ajouter un QCM

            %br
            %button.btn.btn-primary#saveScenario
                Save
        {% endbuttons %}
