-extends "base.haml"

-load static
-load compress

-load bootstrap3

-block content
    %link{:rel => "stylesheet", :type => "text/css", :href => "/static/css/train/stylesheet_train.css"}
    %script{:src => "/static/js/train/visualize_scenario.js"}

    %h3{:dico => "tab"} #{descriptif.0}
    -# =id.title
    %hr
    %h4{:dico => "tab"} #{descriptif.1}
    -# =id.instructions

    %div#anchor
        #textBlockElem{:style => "display: none"}
            .ligneorange

            .container-fluid.boxclassetitle
                %h2

            .ligneorangefine

            .boxclasse.container-fluid
                %p

        #imgBlockElem{:style => "display: none"}
            .ligneorange

            .container-fluid.boxclassetitle
                %h2

            .ligneorangefine

            .boxclasse.container-fluid
                %div
                %p

        #videoBlockElem{:style => "display: none"}
            .ligneorange

            .container-fluid.boxclassetitle
                %h2

            .ligneorangefine

            .boxclasse.container-fluid
                %div
                %p

        #mcqBlockElem{:style => "display: none"}
            .ligneorange

            .container-fluid.boxclassetitle
                %h1

            .ligneorangefine

            .boxclasse.container-fluid
                %div

    #Tools.blk
        %br
        %button.btn.btn-primary#previousElement
            Previous
        %button.btn.btn-primary#nextElement
            Next
