-extends "base.haml"

-load static

-block javascript
  %script{src: "{% static 'js/mermaid.full.js' %}"}

-block content
  %h3{:dico => "tab"} #{descriptif.0}
    -# =id.title
  %hr
  %h4{:dico => "tab"} #{descriptif.1}
    -# =id.instructions

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-right
      %p Ressources

  .ligneorangefine

  .boxclasse.container-fluid
    %p Ici résiderons les questions, vidéos, ...

  #Tools.blk
    %br
    %button.btn.btn-primary#previousElement{}
        Previous
    %button.btn.btn-primary#nextElement{}
        Next
