-extends "base.haml"

-load static

-block javascript
  -# %script{src: "{% static 'js/mermaid.full.js' %}"}

-block content
  %h3{:dico => "tab"} #{scenario.title}
    -# =id.title
  %hr
  %h4{:dico => "tab"} #{scenario.creator}
    -# =id.instructions



  .ligneorangefine

  .boxclasse.container-fluid
          %p{:dico => "tab"} #{scenario.instructions}

  %a.btn.btn-primary#begin{:onclick => "return nextButton(this)"} Commencer l'exercice

  %script
    function nextButton(){
        var pathTab = window.location.pathname.split("/");
        var user_type = pathTab[1];
        var id = pathTab[pathTab.length - 1];
        if(user_type == "student"){
            window.location.href = "/student/train/scenario/"+id;
        }else{
            window.location.href = "/professor/train/scenario/"+id;
        }

    }
