-extends "base.haml"

-load static

-block javascript
  %script{src: "{% static 'js/mermaid.full.js' %}"}

-block content
  %h3{:dico => "tab"} #{scenario.title}
    -# =id.title
  %hr
  %h4{:dico => "tab"} #{scenario.creator}
    -# =id.instructions



  .ligneorangefine

  .boxclasse.container-fluid
          %p{:dico => "tab"} #{scenario.instructions}

  %a.btn.btn-primary#begin{:href => "/student/train/scenario/#{scenario.id}"} Commencer l'exercice
