/*#whiteBox {
	background-color: white;
}*/

#parameters label, .mcqBlockElem .panel-body label {
    width: 140px;
    height: 30px;
}
#OurContainer {
    display: grid;
    grid-template-columns: 5% 110%;
    position: relative;
    right: 100px;
}
#sideNavBar {
    grid-column: 1; /* placement en colonne 1 */
}
#sectionElements {
    margin-left: 140px;
    grid-column: 2; /* placement en colonne 2 */
}
#navFixed {
    position:fixed;
    overflow: auto;
    height: 70%;
}
.divElemNav {
    background-color: white;
    padding : 6px;
    border: 2px solid;
    margin: 5px;
    border-radius: 7px;`
}
#parameters label, .mcqBlockElem .panel-body label {
	width: 140px;
	height: 30px;
}

#parameters input, .answer1, .answer2{
	width: 270px;
}
.blk {
	padding: 10px;
}
/*	list scenario's part	*/
#headline {
	background-color: #f58025;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding: 3px;
}

#headline span {
	padding: 13px
}

#headline td p {
	color: white;
}

#contentlist {
	color: #f58025;
}

#parameters, .imgBlockElem, .videoBlockElem, .textBlockElem, .mcqBlockElem, .pdfBlockElem {
	background-color: white;
	margin-bottom: 20px;
}
#addScenarioButton{
    margin-bottom: 30px;
}
.imgBlockElem, .videoBlockElem, .textBlockElem, .mcqBlockElem, .pdfBlockElem {
	width: 100%;
	position: relative;
}

.textBlockElem textarea {
	width: 100%;
}
#saveScenario {
    left: 480px;
    position:absolute;
}
.deleteElement{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 5px;
	padding: 0;
}
.minimizeElem, .enlargeElement{
    padding:0;
    position: absolute;
    top:0;
    right:70px;
    background-color:#ffbe2f;
}

.img_scenario {
	width: 100%;
}

.video_scenario{
	width: 100%;
	height: 420px;
}

.pdf_scenario{
	width: 100%;
	height: 420px;
}

.btn-fixed-previous {
  background-color: #f58025;
  border-color: #d86e1c;
  position: absolute;
  right: 640px;
	top: 15%;
  width: 100px;
	height: 35px;
}


.btn-fixed-next {
	background-color: #f58025;
	border-color: #d86e1c;
	position: absolute;
	right: 5px;
	top: 15%;
	width: 100px;
	height: 35px;
}

.btn-fixed-validate {
	background-color: #f58025;
	border-color: #d86e1c;
	position: relative;
	left : 600px;
    bottom: 15px;
	width: 100px;
	height: 35px;
}
.progressBar {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.goToButton{
    background-color: white;
    border-color: black;
    margin: 1px;
    height: 80%;
    border: 1px solid;
    border-radius: 5px;
}
.box-options{
		position: fixed;
    padding: 25px;
    background-color:white;
		top: 80%;
		width: 750px;
}

.blocanswer li div{
	display: inline-block;
	width: 80px;

}

.imgprev, .videoBlockElem div div iframe{
	display: block;
}

.ligneorangefine {
    width: 80%;
    margin: 0px auto;
}
#progressBar{
	position: absolute;
	right: 315px;
	top: 15%;
	width: 200px;
	height: 35px;
}
#skill{
    display: inline;
}
#datalist{
    width: 80%;
}
datalist {
    display: none;
}
.control-label{
    font-weight: bold;
}

#boxskills{
    position: relative;
    left: 20px;
    width : 90%

}
