#whiteBox {
	background-color: white;
}

#parameters form label {
	width: 120px;
	height: 35px;
}

.blk {
	padding: 10px;
}

#headline {
	background-color: #f58025;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

#headline td a {
	color: white;
}
